/* Media queries for responsiveness */
@media (max-width: 768px) {
  .team_img {
    width: 100%; /* Full width on smaller screens */
    max-width: none; /* Remove max-width constraint */
  }

  .team_button {
    padding: 10px 15px; /* Adjust padding */
    font-size: 14px; /* Adjust font size */
  }

  .teams {
    flex-direction: column; /* Stack vertically on smaller screens */
    align-items: center;
  }
}

/* home image */
.home-container {
  text-align: center;
  position: relative; /* Ensure the container is relatively positioned */
}

.home-title {
  font-size: 2em;
  color: #333;
}

.homeMainImage {
  width: 100%;
  height: auto;
}

.home-img-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.textBeg, .textSubtitle {
  position: absolute;
  font-weight: 700;
  width: 100%;
  color: white;
  text-align: center;
}

.textBeg {
  top: 11%;
  font-size: 5.5em;
}

.textSubtitle {
  top: 17%; /* Adjust as needed */
  font-size: 2em; /* Adjust font size as needed */
}

/* teams */
.teams {
  /* background-color: #f8f8f8; */
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap; /* wrapping on smaller screens */
}

.teamsHeading {
  text-align: center;
  color: white; /* Assuming you want white text for the heading */
  width: 100%; /* Ensure heading spans full width */
  font-size: 3.5em;
  margin-bottom: 40px;
}

.team_indv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 30px;
  background-color: #364d5f;
  border-radius: 6px;
}

.team_img {
  width: 500px;  /* Set desired width */
  height: 400px; /* Set desired height */
  object-fit: cover;
  border-radius: 6px;
}

.team_click {
  font-weight: 500;
  font-size: 2em;
  color: #f8f8f8;
  margin: 0px;
  margin-top: 20px;
} 

.underline-hover {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #f8f8f8;
}

.underline-hover::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Adjust the height of the underline */
  bottom: 0;
  left: 0;
  background-color: #f8f8f8; /* Adjust the color of the underline */
  transition: width 0.3s ease-in-out; /* Adjust the duration of the animation */
}

.underline-hover:hover::after {
  width: 100%;
}

/* sponsors css */
.images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  gap: 20px; /* Increase the space between grid items */
  padding: 20px; /* Add padding around the grid */
  margin: 0 100px; /* Add margin to the sides of the grid */
}

.images-container img {
  width: 100%; /* Ensure images fill their grid cells */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the images cover the area */
  border: 5px solid white; /* Optional: Add a border for better visual separation */
}
