.eboardBox{
    background-image: url(../../assets/eboard/spring_banquet_team_2024.jpeg);
    display: flex;
    height: 35vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center -300px; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.eboardBox h1{
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust the min-width for better responsiveness */
    gap: 24px; /* Increase gap for better spacing */
    text-align: center;
    padding: 20px; /* Add padding inside the main container */
    justify-items: center; /* Centers grid items horizontally */
}

.headshot {
    border-radius: 100%;
    width: 12em; /* Make sure the size is consistent across devices */
    height: 12em;
    object-fit: cover; /* Ensures the image fills the circular space */
}

.category {
    text-align: center;
    padding: 40px;
    background-color: #075ba7;
    color: white;
    margin-bottom: 40px;
    margin-top: 0px;
    
}

.category a {
    text-decoration: none;
}

.name-wrapper {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 0; /* Set gap to 0 to eliminate space between email icon and name */
    flex-wrap: wrap; /* Ensures the contents wrap properly in smaller viewports */
    margin-top: 10px; /* Ensures some space between the image and name */
}

.position {
    margin-top: 5px;
    font-style: italic;
    margin-bottom: 20px; /* Adds extra space below the position */
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, transform;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
}

/* giving all links black underline */
a {
    color: black; 
}

.name {
    font-weight: 900;
    font-size: 20px;
    color: black;
    margin: 0; 
    text-decoration: none; 
    transition: border-color 0.3s ease; 
}

.name:hover {
    border-bottom-color: black; 
}

a:visited .name, a:active .name, a:focus .name {
    color: black; 
    outline: none; 
}

/* Specific styling for the email button */
.email-button {
    width: 24px; 
    height: 24px;
    cursor: pointer; 
    transition: transform 0.3s ease;
    margin-right: 8px; /* Space between the email icon and text */
    border-bottom: none; /* Ensure email icon is never underlined */
}

.email-button:hover {
    transform: scale(1.1); /* Add hover effect to the email button */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .eboardBox {
        background-position: center -10px; 
    }

    .eboardBox h1{
        font-size: 40px;
        margin-bottom: 15%;
    }

    .category {
        margin-top: 0;
    }
}
