.intro-box1{
    background-image: url(peru/pictures/getInvolved.png);
    display: flex;
    height: 35vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wholeContainer {
    margin: 0 50px 0 50px;
}

.intro-writing{
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.application-and-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0px 50px 0px 50px; */
    color: rgb(8, 20, 52);
}

.applicationPicImg{
    padding: 50px;
    border-radius: 7vh;
}

.caption{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5vh;
    padding: 0px 0px 30px 40px;
}

.paragraph {
    font-family: sans-serif;
    font-size: 2.3vh;
    line-height: 3.5vh;
}

.FAQ-box{
    padding: 10px 20px 10px 55px; 
    color: rgb(8, 20, 52);
}

.faqtext {
    padding: 50px 0 50px 0;
    background-color: #e8e7dc;
    text-align: center;
}

.caption2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    font-weight: bold;
    margin: 0 -70px 0 -110px;
    border-radius: 50px;
}


.Q-Box{
    text-align:left;
    font-size: 16px;
    color: rgb(8, 20, 52);
    font-weight: bold;
    width: 150%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #e8e7dc;
    padding: 30px 30px 30px 30px;
    margin-left: -10vw;
    margin-bottom: -35px;
    border:none;

}

.active, .Q-Box:hover{
    background-color: rgb(8, 20, 52);
    color: #e8e7dc;
}

.answer{
    font-size: 16px;
    line-height: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0 20px;
    margin: 0;
    background-color: #fffef2;
    color: rgb(8, 20, 52);
    max-height: 0;
    overflow: hidden;
    opacity: 0;

}

.answer.active {
    max-height: 500px;
    padding: 50px 40px; 
    margin: 50px 0 20px 0;
    background-color: #fffef2;
    color: rgb(8, 20, 52);
    opacity: 1;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;


}

.Q-Box:hover, .active {
    background-color: rgb(8, 20, 52);
    color: #e8e7dc;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.margin {
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .Q-Box {
        width: 100%;
        padding: 0px 50px 0px 50px;
    }
}