  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .team_img {
      width: 100%; /* Full width on smaller screens */
      max-width: none; /* Remove max-width constraint */
    }
  
    .team_button {
      padding: 10px 15px; /* Adjust padding */
      font-size: 14px; /* Adjust font size */
    }
  }
  
.home-container {
    text-align: center;
  }
  
  .home-title {
    font-size: 2em;
    color: #333;
  }
  
  .homeMainImage {
    width: 100%;
    height: auto; 
  }
  
  .teams {
    background-color: #085AA6;
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap; /* wrapping on smaller screens */
  }
  
  .team_indv {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin: 20px; 
  }
  
  .team_img {
    width: 80%; /*relative width */
    max-width: 400px; 
    height: auto;
    object-fit: cover;
    padding: 20px;
  }
  
  .team_button {
    margin-top: 10px;
    padding: 10px 100px; 
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px; 
  }
  
  .team_button:hover {
    /* temp color for demo - change later*/
    background-color: red;
  }
  
