.loginBackground {
    width: 100%;
    height: auto;
    position: relative;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 30px;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

.login-item {
    margin: 20px 0; /* Adjusted margin */
}

#username, #password {
    width: 100%; /* Full width for input boxes */
    margin: 5px 0; /* Adjusted margin */
}

input {
    flex-grow: 1;
    padding-bottom: 5px;
}

button {
    padding: 10px;
    min-width: 150px;
}
    

