.app {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #fffef2;
}

html {
  scroll-behavior: smooth;
}

/* default settings */

* {
  /* removing default formatting */
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

/* navigation bar */

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #075BA7;
  font-weight: 900;
  font-size: 25px;
}

.underline-hover-nav {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #075BA7;
  height: 100%; 
}

.underline-hover-nav::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; 
  bottom: 0;
  left: 0;
  background-color: #075BA7; 
  transition: width 0.3s ease-in-out; 
}

.underline-hover-nav:hover::after {
  width: 100%;
}

nav img:first-child {
  margin-right: auto;
}

.sidebar {
  /* want sidebar to always be on top of everything else so z-index 999 */
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh; 
  width: 250px;
  z-index: 999;
  background-color: white;
  /* background-color: rgb(255, 255, 255, 0.2); */
  /* backdrop-filter: blur(20px); */
  box-shadow: -10px 0 10px rgba(0,0, 0, 0.1);

  /* display links from top to bottom */
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.logo {
  width: 5%;
  padding-top: 10px;
  margin-left: 20px;
}

.menuButton {
  display: none;
}

.menuButton svg {
  padding-top: 12px;
  height: 40px;
  width: auto;
  vertical-align: middle;
  margin-right: 15px;
}

/* footer */

.footer {
  border-top: 1px solid black;
}

.footer_content {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.social-icon {
  width: 30px;
  height: auto;
  padding: 5px;
  margin: 0 2px; 
}

.love {
  font-size: 13px;
  margin-top: 5px; 
}

/* features limited when reaching 800px */
@media(max-width: 800px) {
  /* hiding the links on the nav bar */
  .hideOnMobile {
    display: none;
  }

  .menuButton {
    display: block;
  }

  .logo {
    width: 10%; /* Increase the width for smaller screens */
  }
}

@media(max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}