.container{
    padding: 0 150px;
    margin: 0 auto;
    flex-direction : column;
    background-color:#fffef2;
}

.VDC-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 35vh; /* Full viewport height to center vertically */
    width: auto;
    background-image: url('../peru/perupics/VDCfullpicture.jpg'); /* Replace with your image path */
    background-size: 100%; /* Cover the entire area of the div */
    background-position: center bottom; /* Center the image */
    color: white; /* Text color for better visibility */
    font-size: 25px;
    font-family:'Roboto';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.IR-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 35vh; /* Full viewport height to center vertically */
    width: auto; 
    background-image: url('../peru/perupics/NewIRHeader.jpg'); /* Replace with your image path */
    background-size: 100%; /* Cover the entire area of the div */
    background-position: center bottom; /* Center the image */
    color: white; /* Text color for better visibility */
    font-size: 25px;
    font-family: 'Roboto';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px;
}

.IR-title{
    align-items: center;
    justify-content: center;
    padding: 70px
}

.VDC-title{
    align-items: center;
    justify-content: center;
    padding: 40px
}

.peruHomeButton { /*actual button */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 20px;  */
    margin: 20px 70px 0px 70px; /* 70px adds space between buttons themselves */
    padding: 10px 20px; /* Button padding */
    font-size: 2.5vh; /* Font size */
    color: rgb(8, 20, 52); /* Text color */
    background-color: #fffef2; /* Background color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition on hover */
    border-radius: 8px;
    border: 3px solid;
    border-color: rgb(8, 20, 52);
    text-decoration: none;

}

.documentationButton {
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adds space between the button and other elements */
    margin: 20px 70px 0px 70px; /* 70px adds space between buttons themselves */
    padding: 10px 20px; /* Button padding */
    font-size: 2.5vh; /* Font size */
    color: rgb(8, 20, 52);/* Text color */
    background-color: #fffef2; /* Background color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition on hover */
    border-radius: 8px;
    border: 3px solid;
    border-color: rgb(8, 20, 52);
    text-decoration: none;

}

.active, .peruHomeButton:hover, .documentationButton:hover {
    background-color: rgb(8, 20, 52);
    color: #fffef2;
}

.buttons{ /* buttons box */
    align-items: center;
   justify-content: center;
   display: flex;
   /* padding: 30px 30px;*/
   margin: 20px 0;

}

.body_text{
    /*align-items: center;*/
   /*justify-content: center;
   display: flex;
   padding: 0px 150px;*/
   /*padding: 0px 100px; /*changes white space on the sides */
   text-align: left;
   font-size: 2.3vh;
   font-family: sans-serif;
   line-height: 3.5vh;
   padding: 0 20px;
   color: rgb(8, 20, 52);
}

.body_text2{ /* fixed the padding issue cus it was too far to the right*/
    text-align: left;
    font-size: 2.3vh;
    font-family: sans-serif;
    line-height: 3.5vh;
    color: rgb(8, 20, 52);

}

.body-text-nepal{ /* fixed the padding issue cus it was too far to the right*/
    text-align: left;
   font-size: 2.3vh;
   font-family: sans-serif;
   line-height: 3.5vh;
   padding: 0 20px;
   color: rgb(8, 20, 52);
   margin-bottom: 30px;
} 

/* .text-w-img-div{
    display: flex;
    flex-wrap: wrap; 
    margin-top: 20px; 
    margin-bottom: 50px;
    } */

.text-w-img-div2{
    display:flex;
    flex-wrap: wrap;
    margin: 0 20px;
    color: rgb(8, 20, 52);
    margin-bottom: 50px;
}

.text-next-to-img2{
    flex: 2;
    padding: 20px 20px 20px 0;/*30px 150px 30px 20px */
    font-size: 2.3vh;
    font-family: sans-serif;
    line-height: 3.5vh;
    width: 100%;
    color: rgb(8, 20, 52);
}

.img-div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

}

.img-div2 img{
    flex: 1;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
}

.img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    }

.img-div img{
    flex: 1;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
}

.img-div-VDC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.img-div-VDC img{
    flex: 1;
    /* padding: 20px; */
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; 
    max-height: 500px;
}
.photo-caption{
    justify-content: center;
    margin-top: 10px;
    font-size: 2vh;
    font-family: sans-serif;
    color: rgb(8, 20, 52);
}

.photo-caption p{
    margin: 0;
}

.text-next-to-img{
    /* flex: 2; */
    padding: 0 20px;
    font-size: 2.3vh;
    font-family: sans-serif;
    line-height: 3.5vh;
    /* width: 100%; */
    color: rgb(8, 20, 52);
}

.documentation-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6e4d2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sub-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.sub-title{
    text-align: justify;
   font-size: 4.5vh;
   line-height: 3vh;
   font-family: 'Roboto';
   color: rgb(8, 20, 52);
}

.documentation-img, .implementation-img, .stock-img {
    padding: 20px;
}
.documentation-img img{
    max-width: 100%;
    height: auto; 
    display: block;
    border-radius: 8px;
}

.implementation-img img{
    max-width: 100%;
    height: auto; 
    display: block;
    border-radius: 8px;
}

.stock-img img{
    max-width:100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.documentation-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 50px 30px;
    /* flex-direction: row; */
}

.VDC-documentation-grid-boxes {
    background-color:#075ba7;
    margin: 20px;
    height: 50vh;
    width: 60vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.IR-documentation-grid-boxes {
    background-color:#075ba7;
    margin: 20px;
    height: 52vh;
    width: 30vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.documentation-caption {
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    font-family: sans-serif;
    color: white;
}

.bottom-margin {
    height: 50px;
}


@media (max-width: 768px) {
    .VDC-header {
        flex-direction: column;
        text-align: center;
    }

    .IR-header{
        flex-direction: column;
        text-align: center;
    }

    .buttons {
        flex-direction: column;
    }

    .peruHomeButton {
        margin: 10px 0;
    }

    .text-w-img-div {
        flex-direction: column;
    }

    .sign-image {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 480px) {
    .VDC-header{
        height: 20vh;
    }
    .VDC-header h1 {
        font-size: 1em;
    }

    .VDC-header h2 {
        font-size: 1em;
    }

    .IR-header h1{
        font-size: 1em;
    }

    .IR-header h2{
        font-size: 1em;
    }

    .container {
        padding: 0 20px;
        align-items: center;
        justify-content: center;
    }

    .photo-caption {
        font-size: 1em;
    }

    .body_text, .text-next-to-img {
        padding: 10px;
        text-align: center;
        align-items:center;
        font-size: 1em;
    }

    .peruHomeButton, .documentationButton {
        padding: 5px 10px 5px 10px;
        font-size: 0.6em;
        margin: 10px  0px;
        margin: 10px;
    }

    .buttons {
        flex-direction: row;
        margin: 20px 0px 0px 0px;
        
    }

    .sub-title{
        font-size: 1.5em;
    }

    .documentation-grid {
        flex-direction : column;
    }

    .VDC-documentation-grid-boxes {
        height: 25vh;
        width: 100%;
        padding : 0px 0px 20px 0px;
    }

    .documentation-img, .implementation-img{
        padding: 15px 15px 0px 15px; /*helps get caption in the box*/
    }

    .documentation-caption {
        font-size: 0.8em;
        margin: 0px;
    
    }
    .text-next-to-img {
        text-align: left;
        margin: 0px;
    }
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, transform;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
}
